{{!-- need to show all posts here, list --}}
<div>
  {{#if posts}}
  {{#each posts as |post|}}
  <a href="/post/{{post.id}}">
    <h1>{{post.title}}</h1>
    <p>created by {{post.user.name}},  Date {{post.createdAt}}</p>
  </a>
  {{/each}}

  {{else}}
  <h2>There are no current posts</h2>

  {{/if}}
</div>